body {
    margin: 0;
    background: #f4f4f4;
    font-family: "Poppins", sans-serif;
}

.bmi-wrapper {
    height: auto;
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

.bmi-card {
    width: 420px;
    padding: 35px;
    background: white;
    border-radius: 22px;
    box-shadow: 0 6px 25px rgba(0,0,0,0.12);
    animation: fadeIn 0.5s ease;
}

.title {
    text-align: center;
    font-size: 28px;
    margin: 0;
}

.subtitle {
    text-align: center;
    font-size: 14px;
    color: #777;
    margin-bottom: 25px;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

input {
    padding: 12px;
    border-radius: 12px;
    border: 1px solid #ccc;
    background: #fafafa;
    transition: .3s;
}

input:focus {
    border-color: #ff8a00;
    box-shadow: 0 0 5px rgba(255,138,0,0.3);
}

.calc-btn {
    margin-top: 15px;
    width: 100%;
    padding: 12px;
    background: linear-gradient(135deg, #ff8a00, #e52e71);
    color: white;
    border-radius: 14px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

.calc-btn:hover {
    transform: scale(1.05);
}

.hidden {
    display: none;
}

/* GAUGE */
.gauge {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.gauge-circle {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    position: relative;
    background: #eee;
    overflow: hidden;
}

.gauge-fill {
    position: absolute;
    width: 100%;
    height: 100%;
    background: conic-gradient(#e52e71 0deg, #ff8a00 0deg);
    transition: 1s ease-in-out;
}

.gauge-cover {
    position: absolute;
    width: 130px;
    height: 130px;
    background: white;
    border-radius: 50%;
    top: 25px;
    left: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    font-weight: 700;
}

.result-box {
    margin-top: 20px;
    padding: 20px;
    border-radius: 12px;
    background: #fafafa;
    border: 1px solid #ddd;
}

.sub {
    margin-bottom: 5px;
    color: #333;
}

.save-btn {
    width: 100%;
    padding: 10px;
    margin-top: 12px;
    border: none;
    border-radius: 10px;
    background: #222;
    color: white;
    cursor: pointer;
}

.history-box {
    margin-top: 25px;
}

.history-box ul {
    padding-left: 15px;
}
