body{
    
    background: fixed;
    background-position: 0%;
    background-color: rgba(81, 75, 75, 0.849);
    background-size: fill;
    background-position:center ;
    color: rgb(249, 247, 247);
    text-decoration: solid;

  /*background*/
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../images/file-6PqQHvCUYpHYYuYPMEAJJD.webp);
  background-size: cover;
  background-position:center ;
  height: 10000%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

iframe {
      align-items: center;
      display: block;
      width: 100%;
      margin: 100px auto;
      border: none;
      display: flex;
      justify-content: center;
      
}
#image-slider{
    position: relative;
    width: 100%;
    max-width: 800px;
    height: 400px;
    overflow: hidden;
    margin: auto;
  }
  .slider img.active{
    display: block;
  }
  
  .slider {
    position: relative;
    width: 80%;
    max-width: 600px;
    overflow: hidden;
  }
  
  .slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .slides img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display:none;
    flex-shrink: 0;
  }
  
  button {

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
  }
  
  button:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  .prev {
    left: 10px;
  }
  
  .next {
    right: 10px;
  }
/*/footer*/
