:root {
    --primary: #0fbf8a;
    --primary-soft: #3ccf4e;
    --text-dark: #222;
    --text-light: #555;
    --card-bg: #ffffffcc;
}

body {
    margin: 0;
    background: #f2fff4;
    font-family: Poppins, sans-serif;
}

/* HERO */
.hero {
    height: 38vh;
    background: linear-gradient(to right, #0fbf8a, #3ccf4e);
    display: flex;
    align-items: flex-end;
    padding: 40px;
    color: white;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.hero-content h1 {
    font-size: 42px;
    font-weight: 800;
}

.hero-content p {
    opacity: 0.9;
}

/* SECTIONS */
.section {
    padding: 45px 20px;
    text-align: center;
}

.section-title {
    font-size: 30px;
    font-weight: 700;
    color: var(--primary);
}

.section-desc {
    margin-top: -5px;
    font-size: 15px;
    color: var(--text-light);
}

/* CARD GRID */
.card-grid {
    display: flex;
    gap: 22px;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    width: 280px;
    background: var(--card-bg);
    border-radius: 18px;
    padding-bottom: 15px;
    backdrop-filter: blur(12px);
    box-shadow: 0 10px 20px rgba(15, 191, 138, 0.15);
    transition: .3s;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-6px);
    box-shadow: 0 20px 30px rgba(15, 191, 138, 0.25);
}

.card img {
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-radius: 18px 18px 0 0;
}

.card h3 {
    margin: 12px 0 6px;
    color: var(--primary);
}

.card p {
    padding: 0 14px;
    color: var(--text-light);
}

/* VIDEO PLAYER */
.video-box {
    max-width: 600px;
    margin: 20px auto;
}

video {
    width: 100%;
    border-radius: 12px;
    border: 3px solid var(--primary);
}

/* TABS */
.tabs {
    margin-top: 20px;
}

.tab-btn {
    padding: 10px 20px;
    border-radius: 20px;
    background: #ddd;
    border: none;
    font-weight: 600;
    margin: 0 8px;
    cursor: pointer;
}

.tab-btn.active {
    background: var(--primary);
    color: white;
}

.tab {
    display: none;
}

.active-tab {
    display: block;
}

.tab li {
    background: white;
    margin: 10px auto;
    padding: 12px;
    width: 80%;
    border-left: 5px solid var(--primary);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}